extends layout.jade

block content
	article#jade.container
		h1 Jade - node template engine
		#container.col
			if youAreUsingJade
				p You are amazing
			else
				p Get on it!
			p.
				Jade is a terse and simple
				templating language with a
				strong focus on performance
				and powerful features.
		h2
			a(href="#{link}", target="_blank")= title
		p= description
	article.container
		h2 Estructura Básica de Jade
		p Este archivo HTML es generado con el motor de plantillas Jade
		p
			|Para concatenar contenido 
			|en varias lineas 
			|se usa el pipe '|'
		include logo
	
		//-Interpolación

		p.
			Si te gusta la forma en que Jade genera código HTML puedes leer la documentación del 
			#[a(href="http://jadelang.net/api/", target="_blank") API], la referencia del
			#[a(href="http://jadelang.net/reference/", target="_blank") Lenguaje], y de la 
			<a href="http://jadelang.net/command-line/" target="_blank">Línea de comandos</a>
		br
		button#presioname.boton Presióname
		script.
			//alert('Javascript ejecutado desde Jade');
			document.querySelector('#presioname').onclick= function() {
				alert('Has presionado el botón desde Jade con Javascript')
			}
		-var nombre = 'Jade'
		p Hola #{nombre}

		-var fecha=new Date()
		-var hora = fecha.getHours()

		if (hora<12)
			p La hora #{hora} es antes del Meridiano (AM)
		else
			p La hora #{hora} es posterior del Meridiano (PM)

		-var estaciones=['Primavera','Verano','Otoño','Invierno']

		h2 Estaciones del Año
		ol
			each estacion in estaciones
				li #{estacion}
		
	//- Los mixing son funcioes en Jade
	mixin mesesEstacionesMexico(estacion,meses)
			div.item
				h3 #{estacion}
				ul
					each mes in meses
						li #{mes}

	article.container
		h2 Estaciones del Año en México
		+mesesEstacionesMexico(estaciones[0],['Abril','Mayo','Junio'])
		+mesesEstacionesMexico(estaciones[1],['Julio','Agosto','Septiembre'])
		+mesesEstacionesMexico(estaciones[2],['Octubre','Noviembre','Diciembre'])
		+mesesEstacionesMexico(estaciones[3],['Enero','Febrero','Marzo'])

