                            <div class="sidebar-header">
                                <a href="#"><i class="fa"></i></a>
                                <a href="#"><i class="fa"></i></a>
                                <a href="#"><i class="fa"></i></a>
                                <a href="#"><i class="fa"></i></a>
                                <a class="close-sidebar" href="#"><i class="fa fa-times"></i></a>
                            </div>

                            <div class="sidebar-logo"></div>

                            <div class="sidebar-divider no-bottom"></div>

                            <p class="sidebar-divider">Menu de Opciones</p>
                            <div class="sidebar-menu">
                                <a class="menu-item" href="home.html">
                                    <i class="fa fa-home bg-green-light"></i>
                                    <em>Home</em>
                                    <i class="fa fa-circle"></i>
                                </a>
                                <a class="menu-item" href="consultas.html">
                                    <i class="fa fa-clock-o bg-green-light"></i>
                                    <em>Últimas consultas</em>
                                    <i class="fa fa-circle"></i>
                                </a>
                                <div class="has-submenu">
                                    <a class="menu-item show-submenu" href="#">
                                        <i class="fa fa-cog bg-blue-light"></i>
                                        <em>Configuración</em>
                                        <strong>2</strong>
                                    </a>
                                    <div class="submenu">
                                        <a class="submenu-item" href="perfil.html"> <i class="fa fa-angle-right"></i><em>   Perfil    </em><i class="fa fa-circle"></i></a>
                                        <a class="submenu-item" href="clave.html"> <i class="fa fa-angle-right"></i><em>   Cambiar clave      </em><i class="fa fa-circle"></i></a>
                                    </div>
                                </div>
                                <a class="menu-item" href="contacto.html">
                                    <i class="fa fa-envelope-o bg-blue-dark"></i>
                                    <em>Contacto</em>
                                    <i class="fa fa-circle"></i>
                                </a>
                                <a class="menu-item close-sidebar" href="inicio.html">
                                    <i class="fa fa-lock bg-red-dark"></i>
                                    <em>Salir</em>
                                    <i class="fa fa-circle"></i>
                                </a>
                            </div>

                            <p class="sidebar-footer">Copyright 2017. EBioservices.</p>