                            <div class="sidebar-header">
                                <a class="close-sidebar" href="#"><i class="fa fa-times"></i></a>
                                <a href="#"><i class="fa"></i></a>
                                <a href="#"><i class="fa"></i></a>
                                <a href="#"><i class="fa"></i></a>
                                <a href="#"><i class="fa"></i></a>
                            </div>

                            <div class="sidebar-logo"></div>

                            <div class="sidebar-divider no-bottom"></div>

                            <p class="sidebar-divider">Enviar un email</p>

                            <div class="container no-bottom">
                                <div class="sidebar-form contact-form no-bottom">
                                    <em>Su mensaje será reportado a Servicio Técnico y al Administrador del Sistema</em>
                                    <div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                                        Awesome! We'll get back to you!
                                    </div>
                                    <form action="php/contact.php" method="post" class="contactForm" id="contactForm">
                                        <fieldset>
                                           
                                            <div class="formFieldWrap">   
                                                <select class="contactField requiredField">
                                                 <option value="" selected>[-Seleccione una opción-]</option>
                                                  <optgroup label="Servicio">
                                                    <option value="">Generar Programación</option>
                                                    <option value="">Reportar Incidencia</option>
                                                  </optgroup>
                                                  <optgroup label="Ventas">
                                                    <option value="">Cotizar Producto</option>    
                                                    <option value="">Cotizar Repuesto</option>    
                                                  </optgroup>
                                                    <optgroup label="Sistemas">
                                                    <option value="">Reportar Error</option>
                                                    <option value="">Reportar Mejora</option>
                                                    <option value="">Reportar Requerimiento</option>
                                                    <option value="">Otros</option>
                                                  </optgroup>
                                                </select>       
                                            </div>
                                                                         
                                            <div class="formTextareaWrap">
                                                <textarea onfocus="if (this.value=='Mensaje') this.value = ''" onblur="if (this.value=='') this.value = 'Mensaje'" name="contactMessageTextarea" class="contactTextarea requiredField" id="contactMessageTextarea">Mensaje</textarea>
                                            </div>
                                            <div class="formSubmitButtonErrorsWrap">
                                                <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="ENVIAR" data-formId="contactForm" />
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>

                            <p class="sidebar-footer">Copyright 2017. EBioservices.</p>