doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(name="theme-color", content="#000000")
        meta(name="msapplication-navbutton-color", content="#000000")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="#000000")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")        
        link(rel="icon", type="image/png", href="/images/splash/android-chrome-192x192.png", sizes="192x192")
        link(rel="apple-touch-icon", sizes="196x196", href="/images/splash/apple-touch-icon-196x196.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/images/splash/apple-touch-icon-180x180.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/images/splash/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/images/splash/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/images/splash/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/images/splash/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/images/splash/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/images/splash/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/images/splash/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="57x57", href="/images/splash/apple-touch-icon-57x57.png")
        link(rel="icon", type="image/png", href="/images/splash/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="/images/splash/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/images/splash/favicon-16x16.png", sizes="16x16")
        link(rel="shortcut icon", href="/images/splash/favicon.ico", type="image/x-icon")
		title= title
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/menus.css")
        link(rel="stylesheet", href="/css/framework.css")
        link(rel="stylesheet", href="/css/font-awesome.css")
        link(rel="stylesheet", href="/css/animate.css")
        script(src="scripts/jquery.js")
        script(src="scripts/jqueryui.js")
        script(src="scripts/framework-plugins.js")
        script(src="scripts/custom.js")
		link(rel="stylesheet", href="/css/responsimple.min.css")
		link(rel="stylesheet", href="/css/estilos.css")
	body
        div#preloader
            div.status
                div.preloader-logo
                h3.center-text cargando...
                p.center-text.smaller-text Estamos cargando el contenido, denos un segundo. ¡Esto no tomará mucho tiempo!
        div#header-fixed.header-dark
            a.header-logo(href="#")
        div.gallery-fix
        div.all-elements
            div.snap-drawers
                div#content.snap-content
                    div.header-clear-large
                    div.content
            
                        div.page-login.full-bottom
                            a.page-login-logo(href="#")
                            div.login-input
                                i.fa.fa-user
                                input(type="text",value="Usuario",onfocus="if (this.value=='Usuario') this.value = ''",onblur="if (this.value=='') this.value = 'Usuario'")
                            div.login-password
                                i.fa.fa-lock
                                input(type="password",value="Password",onfocus="if (this.value=='Password') this.value = ''",onblur="if (this.value=='') this.value = 'Password'")
                            a.login-forgot(href="#")
                                i.fa.fa-eye ¡Lo olvidé!
                            div.clear
                            a.login-button.button.button-small.button-green.button-fullscreen.full-bottom(href="home.html") Ingresar
                            div.clear
                        
                        div.decoration

                        div.heading-style-1.container.half-bottom
                            a( href="#")
                                i.fa.fa-wrench
                            h4 EBioservices Soporte Técnico
                            div.heading-block.bg-blue-light
                            div.heading-decoration.bg-blue-light
                        div.container
                            p Esta herramienta permite agilizar el registro de las programaciones de servicios de una forma muy sencilla.
                            a.read-more-link(href="http://www.tutallerbiomedico.com/cebs/infografia/")
                                i.fa.fa-link Saber más
                        div.decoration
                        div.container-fullscreen.footer.footer-dark
                            a.footer-logo(href="#")
                            p.half-bottom.center-text 
                                |www.tutallerbiomedico.com
                                br
                                |Un producto de A. Jaime Rojas Reprec. Grales.
                            div.decoration
                            p.small-text.no-bottom.center-text Copyright 2017. Todos los derechos reservados.
                        div.footer-clear.disabled
            a.back-to-top-badge(href="#")
                i.fa.fa-caret-up Subir
		