extends layout

block content
	include header
		article.item
			-if(data.length)
				p Mostrar Datos
				table.table
					tr
						th ID
						th Titulo
						th Año
						th Puntuación
						th Poster
						th(colspan="2")						
							form(method="GET" action="/agregar")
								input.button.add(type="submit",value="Agregar")
					-each movie in data
						tr
							th #{movie.movie_id}
							th #{movie.title}
							th #{movie.release_year}
							th #{movie.rating}
							th 
								img.poster(src="#{movie.image}", alt="#{movie.title}")						
							th 
								form(method="GET" action="/editar/#{movie.movie_id}")
									input.button.edit(type="submit",value="Editar")
							th 
								form(method="POST" action="/eliminar/#{movie.movie_id}")
										input.button.delete(type="button",value="Eliminar",onclick="eliminar(this)")
				script.
					function eliminar(input){
						var deleteOk=confirm('¿Estas seguro de eliminar la pelicula?')
						return (deleteOk)?input.parentNode.submit():false
					}
			-else 
				p.error No existen peliculas en la Base de Datos