.lh45{ line-height: 45px !important;}
.pl36{ padding-left: 36px !important;}
.mlr0{ margin-left: 0px !important; margin-right: 0px !important;}
.mt15{ margin-top: 15px !important;}
.pt15{ padding-top: 15px !important;}
.mb0{ margin-bottom: 0px !important;}
.row-plr20{ 
    margin: 0 auto;
    padding: 0px 20px 0px 20px !important;    
    width: 100%;
}

#fs-container, #fs-inner, #fs{
    height: 100% !important;
    left: 0px !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;

}    
#map {
    height:200px;
    width: 100%;
}

#map_amplio {
    height: 60vh;
    margin-bottom: 30px;
    width: 100%;
}
