html{
    background-color: #1D1D1D;
} 
a, h1, h2, label{
    color: #808D01;
}
a:hover{
 opacity: .75;   
}
fielset{
    padding: 1rem;
    border: medim solid #808D01;
}
.logo{
    display: block;
    margin: 1rem auto;
    width: 450px;
    height: 150px;
    vertical-align: bottom;
    background: url('../img/logo.svg') no-repeat center;
    background-size: contain;
}
.error{
    font-size: 2rem;
    padding: 1rem;
    background-color: #808D01;
    color: #fff;
}
.poster{
    max-width: 100px;
}
.table{
    width: 100%;
}
.table th, .table td{
    padding: 1rem;
}
.table tr:first-child{
    background-color: #292623;
    color: #808D01;
}
.table tr:nth-child(even){
    background-color: #cccccc;
}
.table tr:nth-child(odd):not(:first-child){
    background-color: #eee;
}
.button{
    padding: .8rem 1rem;
    color: #fff;
    background-color:#808D01;
    cursor: pointer;
}
.button:hover{
    opacity: .75;
}
.add{
    background-color: #0B0;
}
.edit{
     background-color: #0871B2;
}
.delete{
     background-color: #D23641;
}