html{
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #1D1D1D;
	text-align: center;
}
a{ 
	color: #80BD01; 
}
a:hover{
	color: rgba(128,189,1,.5);
}
li{
	list-style-position: inside;
}
#jade{
	font-size: 2rem;
	border: medium solid #80BD01;
	box-shadow: .25rem .25rem .5rem rgba(255,255,255,.5);
}
.container{
	margin: auto;
	padding: 1rem;
	width: 80%;
}
#logo-node{
	margin: auto;;
	height: 150px;
	width: 450px;
	background: transparent url('../img/logo.svg') no-repeat center;
	background-size: contain;
}
.boton{	
	background-color: #80BD01;
	color: #1D1D1D; 
	font-feature-settings: 2rem;
	border: 0;
}
.boton:hover{
	background-color: #1D1D1D;
	color: #80BD01; 	
	cursor:pointer;
}
.item{
	float:left;
	width: 25%;
}
.error{
    background-color: #303030;
    color: #80BD01;
    display: block;
    font-size: 9px;
    font-size: 10px;
    margin: auto;
    overflow-x: scroll;
    padding: 1rem;
    text-align:left; 
    width: 90%;
}